h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    color:rgb(202, 137, 148)
    
}

.title3{
    color: rgb(189, 65, 86);
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 10px;
    
}

body {
    
    background-color: pink;
    text-align: center; 
    box-sizing: border-box;
    padding: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.text1 {
   font-size: 25px;
   color: rgb(77, 31, 39) ;
   display: block;
}


.sidenav {
    
    height: 100%;
    width: 150px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(128, 63, 73);
    overflow-x: hidden;
    padding-top: 20px;
    
    
}
.table {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

tr { 
    text-decoration: underline; 
}

td{ 
    font-family: fantasy;  
}

.titles:hover {
color: rgb(150, 26, 150);
font-weight: 200px;
}

.flex-container {
    display: flex;
    background-color: rgb(83, 50, 56);
    flex-direction: column;
    width: 300px;
    text-align: center;
    position: relative;
    left: 510px
}
    
  .flex-container > div {
    background-color: rgb(172, 118, 127);
    margin: 3px;
   }

   @media screen and (max-width: 600px)
   {
       
   }
   


 